<style>

h1{

font-family: Arial, Helvetica, sans-serif;
color: orange;

}

h2{

font-family: lucinda;
color: orange;

}

li{

font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 20px;

}

</style>

<title>API Gateway</title>

<body>

<center>
<h1>API Gateway</h1>
    </center>

<center>

<a href="https://aws.amazon.com/api-gateway/"><img src=https://imgs.search.brave.com/KycYCqKHaZnDeG8ig9ZieXcKs7H7Z-590xlFYH1WqLY/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5y/LUtSVWFTUzdJR0Qz/VU9GTzEzc0dBSGFI/YSZwaWQ9QXBp>
</a></center>

<h2>API Gateway key points:</h2>

<ul>
    <li>Create APIs as a front end access point for backend data and functionality.</li><br>
    <li>Define traditional API methods such as: POST, GET, PUT/PATCH, DELETE (CRUD).</li><br>
    <li>Stages allow for different published versions of an API to exist (i.e. - prod, dev, QA).</li><br>
    <li>Every stage has a unique invoke url for the user to interact with the API.</li><br>
    <li>API Gateway supports custom domains for API endpoints.</li><br>
    <li>API needs to be published via 'Deploy API' in order for it to be accessed.</li><br>
    <li>Resources are the URLs for an API (i.e. - /groups)</li><br>
    <li>Resources can have child resources (i.e. - /groups/id/edit)</li><br>
    <li>CORS (Cross Origin Resource Sharing) can be enabled on endpoints. CORS allows domains to utilize resources from exterior domains.</li><br>
    <li>API caching improves latency and reduces amount of calls made to the API.</li><br>
    <li>Same origin policies protect against XSS (Cross Site Scripting) attacks and ignore Postman/Curl requests. Same origin policies are the opposite of CORS.</li><br>
    <li>Authorization to access API can be implemented with Cognito or Lambda.</li><br>
</ul>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame62f6831a13972" src="https://www.sporcle.com/framed/?v=8&pm&gid=266f1fe3f966&fid=62f6831a13972&width=920" style="width:100%;"></iframe><script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=62f6831a13972"></script>
<br>
<br>
<br>
<iframe src="https://quizlet.com/714998008/flashcards/embed?i=46nell&x=1jj1" height="500" width="100%" style="border:0"></iframe>
