<style>

h1{
font-family: Arial, Helvetica, sans-serif;
color: orange;

}

h2{

font-family: lucinda;
color: orange;

}

li{

font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 20px;

}

</style>

<title>DynamoDB</title>

<body>

<center>
<h1>DynamoDB</h1>
    </center>

<center>
<a href="https://aws.amazon.com/dynamodb/"><img src=https://imgs.search.brave.com/m96xQEcpUCUKYWNXag1rOd_Il42-EfaNiUNzOY4GM9U/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4t/YnpOdVdDYUNhT2th/OXlWdFJ0dDJRSGFI/YSZwaWQ9QXBp>
</a>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame62f59659a8b8c" src="https://www.sporcle.com/framed/?v=8&pm&gid=2605d0a6f3ab&fid=62f59659a8b8c&width=920" style="width:100%;"></iframe><script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=62f59659a8b8c"></script>

<iframe src="https://quizlet.com/570574846/flashcards/embed?i=46nell&x=1jj1" height="500" width="100%" style="border:0"></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/twOVSR0R3nE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQRADDjgSLxK8iSeEsvnoVsPzUHySrC9KtaI7CmC7aDfzPwpB-s9E9JgqF1L4fcJsj-nd0fDBjBR0R1/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
