<style>

h1{
font-family: Arial, Helvetica, sans-serif;
color: orange;

}

h2{

font-family: lucinda;
color: orange;

}

h3{

font-family: lucinda;
color: black;
font-size: 20px;

}

li{

font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 20px;

}

</style>

<title>Elastic Container Service (ECS) + Fargate</title>

<body>

<center>
<h1>Elastic Container Service (ECS) + Fargate</h1>
    </center>

<center>
<a href="https://aws.amazon.com/fargate/"><img src=https://imgs.search.brave.com/_fD_FKf0yxSLzqUOKQWCn1LIh9NDxy0vbSkuumrMYhk/rs:fit:1090:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Q/akk4MURZNjJlVEoy/SWlYb3FxREdRSGFE/TyZwaWQ9QXBp>
    <a href="https://aws.amazon.com/ecs/"><img src=https://imgs.search.brave.com/zQsRx9pirtrNexXYWhPK5FiknxOwNMrjG5zQ_ZwfjFQ/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5T/aXpvTndxTlo4Wnpr/eFRCTG41MjhBSGFI/YSZwaWQ9QXBp>
</a>

    <center>
<h3>Django + ECS (Fargate) lab project below</h3>
    </center>

    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRIiPcz6TrxJkFY3IKUJeI7RLn3jxDVBuGidQ_Yf5iNZQz8YRFgE1QhqZ14nGRK_REbTfNsPN32pBdP/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
