<style>

h1{
font-family: Arial, Helvetica, sans-serif;
color: orange;

}

.donotcross {
  overflow: hidden;
  align-items: center;
  background: hsl(50, 100%, 50%);
  color: black;
  height: 2em;
  line-height: 2em;

  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

</style>

<title>IAM</title>

<body>

<center>
<h1>IAM</h1>
    </center>

<center>
<a href="https://aws.amazon.com/iam/"><img src=https://imgs.search.brave.com/I047q2vVxWQFVnOC9HbhM1U8KlCvxda_eSmZuZyrs_Q/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5E/MDVqdFVGWDVfOTBI/TW9hSjZPak93SGFG/aiZwaWQ9QXBp>
</a>
</center>

            <h2 class="divider donotcross" contenteditable></h2>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame630b9b3b35c72" src="https://www.sporcle.com/framed/?v=8&pm&gid=265e36a4f43c&fid=630b9b3b35c72&width=920" style="width:100%;"></iframe><script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=630b9b3b35c72"></script>

            <h2 class="divider donotcross" contenteditable></h2>

<iframe src="https://quizlet.com/714768769/flashcards/embed?i=46nell&x=1jj1" height="500" width="100%" style="border:0"></iframe>
