<style>

h1{
font-family: Arial, Helvetica, sapns-serif;
color: orange;

}

h2{

font-family: lucinda;
color: orange;

}

li{

font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 20px;

}

.donotcross {
  overflow: hidden;
  align-items: center;
  background: hsl(50, 100%, 50%);
  color: black;
  height: 2em;
  line-height: 2em;

  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

</style>

<body>

<center>
<h1>KMS (Key Management Service)</h1>
    </center>

<center>
<a href="https://aws.amazon.com/kms/"><img src=https://imgs.search.brave.com/ZZg25fTQfrSNZ0BsdhlZN5Z7R6VaIrwy_br9xfbRVnw/rs:fit:200:200:1/g:ce/aHR0cHM6Ly9pbWcu/c3RhY2tzaGFyZS5p/by9zZXJ2aWNlLzE5/MDcvYXdzLWttcy1s/b2dvLnBuZw>
</a></center>

<h2>KMS key points:</h2>

<ul>
    <li>KMS creates and manages encryption keys for a number of services or for your applications</li><br>
    <li>KMS is up to FIPS 140-2 Level 2 compliant</li><br>
    <li>KMS has the ability to automatically rotate out your keys with no need to re-encrypt</li><br>
    <li>CloudTrail accesses audit keys' history</li><br>
    <li>Hardware Security Module (HSM) is a specialized hardware for storing keys and is tamper-proof</li><br>
    <li>Customer master keys (CMKs) are the primary resources in KMS</li><br>
    <li>KMS stores master keys</li><br>
    <li>Master Keys are used to encrypt data keys. This is called Envelope Encryption.</li><br>
    <li>Symmetric keys are single keys using 256 bit encryption</li><br>
    <li>Asymmetric uses two keys (public and private)</li><br>
</ul>

        <h2 class="divider donotcross" contenteditable></h2>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame62f5968247021" src="https://www.sporcle.com/framed/?v=8&pm&gid=26c3d3ccf5e7&fid=62f5968247021&width=920" style="width:100%;"></iframe><script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=62f5968247021"></script>
