<style>

h1{
font-family: Arial, Helvetica, sans-serif;
color: orange;

}

.donotcross {
  overflow: hidden;
  align-items: center;
  background: hsl(50, 100%, 50%);
  color: black;
  height: 2em;
  line-height: 2em;

  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

</style>

<title>RDS (Relational Database Service)</title>

<body>

<center>
<h1>RDS</h1>
    </center>

<center>
<a href="https://aws.amazon.com/rds/"><img src=https://imgs.search.brave.com/I46Qd8Q42KNFOGED78U-zHipX9T-TwfAS7tHxH4xyo8/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5v/Q2piZld5NVpRd2l2/a3g1M0JTWTl3SGFI/YSZwaWQ9QXBp>
<a/></center>

        <h2 class="divider donotcross" contenteditable></h2>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame62f694855fe7e" src="https://www.sporcle.com/framed/?v=8&pm&gid=26f5c681f998&fid=62f694855fe7e&width=920" style="width:100%;"></iframe><script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=62f694855fe7e"></script>

        <h2 class="divider donotcross" contenteditable></h2>

<center>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRtUN92CJGCqHAFpqU6kNxtE98jzD-ppdpDnGGJHkeOfCEIljwtyMvAlSZYxn1yCsp7Xvwk1vkrO_WJ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</center>
