<style>

h1{
font-family: Arial, Helvetica, sans-serif;
color: orange;

}

</style>

<title>RDS (Relational Database Service)</title>

<body>

<center>
<h1>RDS</h1>
    </center>

<center>
<a href="https://aws.amazon.com/rds/"><img src=https://imgs.search.brave.com/I46Qd8Q42KNFOGED78U-zHipX9T-TwfAS7tHxH4xyo8/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5v/Q2piZld5NVpRd2l2/a3g1M0JTWTl3SGFI/YSZwaWQ9QXBp>
<a/></center>


<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame62f694855fe7e" src="https://www.sporcle.com/framed/?v=8&pm&gid=26f5c681f998&fid=62f694855fe7e&width=920" style="width:100%;"></iframe><script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=62f694855fe7e"></script>
