<style>

h1{

font-family: Arial, Helvetica, sans-serif;
color: orange;

}

.donotcross {
  overflow: hidden;
  align-items: center;
  background: hsl(50, 100%, 50%);
  color: black;
  height: 2em;
  line-height: 2em;

  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

</style>

<title>Route 53</title>

<body>

<center>
<h1>Route 53</h1>
    </center>

<center>
<a href="https://aws.amazon.com/route53/"><img src=https://imgs.search.brave.com/qNW00TwlFLihTUfncF5o9ZAhoJQPLDutJL6OQS-4O_Q/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5K/MEQ3OUhMNDFIVUFt/LVJsYUpNMVpRSGFI/YSZwaWQ9QXBp>
</a></center>

<h2>Route 53 key points:</h2>

<ul>
    <li>KMS creates and manages encryption keys for a number of services or for your applications</li><br>
    <li>KMS is up to FIPS 140-2 Level 2 compliant</li><br>
    <li>KMS has the ability to automatically rotate out your keys with no need to re-encrypt</li><br>
    <li>CloudTrail accesses audit keys' history</li><br>
    <li>Hardware Security Module (HSM) is a specialized hardware for storing keys and is tamper-proof</li><br>
    <li>Customer master keys (CMKs) are the primary resources in KMS</li><br>
    <li>KMS stores master keys</li><br>
    <li>Master Keys are used to encrypt data keys. This is called Envelope Encryption.</li><br>
    <li>Symmetric keys are single keys using 256 bit encryption</li><br>
    <li>Asymmetric uses two keys (public and private)</li><br>
</ul>

        <h2 class="divider donotcross" contenteditable></h2>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame62f5a2dd0ca54" src="https://www.sporcle.com/framed/?v=8&pm&gid=26bdbf7cf7cd&fid=62f5a2dd0ca54&width=920" style="width:100%;"></iframe><script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=62f5a2dd0ca54"></script>
