<style>

h1{
font-family: Arial, Helvetica, sans-serif;
color: orange;

}

</style>

<title>S3</title>

<body>

<center>
<h1>S3</h1>
    </center>

<center>
<a href="https://aws.amazon.com/s3/"><img src=https://imgs.search.brave.com/genREsj_8Z68RTk0S1LRRiH5oIF2qPOzPfQwIHT5-N8/rs:fit:392:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC51/RWtvYjN5cUNfeVVm/RTFwdEFYX2lRSGFJ/OSZwaWQ9QXBp>
</a>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame62f5988dba5e9" src="https://www.sporcle.com/framed/?v=8&pm&gid=26a1dc7bf435&fid=62f5988dba5e9&width=920" style="width:100%;"></iframe><script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=62f5988dba5e9"></script>

<iframe src="https://quizlet.com/714767389/flashcards/embed?i=46nell&x=1jj1" height="500" width="100%" style="border:0"></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/mrOoYGNUSZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
