<style>

h1{

font-family: Arial, Helvetica, sans-serif;
color: orange;

}

h2{

font-family: lucinda;
color: orange;

}

li{

font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 20px;

}

</style>

<title>VPC</title>

<body>

<center>
<h1>VPC (Virtual Private Cloud)</h1>
    </center>

<center>
<a href="https://aws.amazon.com/vpc/"><img src=https://imgs.search.brave.com/00Ifo0AdvM35VMdC7AoUtni7GPCYnfOlSD2N_Iypci0/rs:fit:697:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5l/YTZOQmxGcU1kOFNL/MHJFOTgzOHVRSGFG/QyZwaWQ9QXBp>
</a></center>

<center>
<h2>Create a VPC lab:</h2>
</center>

<center>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSqfWVDS7UqoKTn-DIIGmBqEhz0VK9mWdAFdzvii24wGwUffSVwK5uMfMwYqTMSVGRN-c8uZngWAGsY/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</center>
